.container{background-color: rgb(165, 199, 214);
 width: 90vh; margin-top: 30px; display: block;
}
h1{
 font-style:italic; font-family: cursive;
font-weight: bolder; text-align: center; margin: 20px;font-size: 5rem; text-shadow:0 4px 10px rgb(189, 125, 189); color: rgb(19, 145, 46); }
input{
 width: 70%; height: 2.5rem; font-size: 2rem;
 te

}
button{ height: 3rem;}
ul{
 margin-top: 3 px;
}
li{
 font-size: 2rem; list-style: none; border-top: 1px solid rgb(228, 215, 228);
 cursor: pointer;padding: 3px;
}
#button{
 float: right;
}